@import "base.css";
.fixed{
    height: 0.3rem;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
    width: 100%;
    color: #18b4ed;
    padding: .1rem 0;
    background-color: #fff;

}
.f_left{
    width: 1.3rem;
    float: left;
    margin-left: 0.1rem;

}
.f_left .sp{
    float: left;
    font-size: 0.2rem;
    line-height: 0.25rem;
}
.f_left .logo_car{
    height: 0.25rem;
    width: 0.36rem;
    float: left;
    margin-left: 0.05rem;
}
.logo_car img{
    display: block;
    height: 0.25rem;
    width: 0.36rem;
}
.f_left span{
    font-size: 0.16rem;
    float: right;
    line-height: 0.25rem;
}
.f_right{
    width: 0.8rem;
    margin-left: 0.1rem;
    float: right;
    margin-right: 0.15rem;
}
.f_right span{
    font-size: 0.16rem;
    float: left;
    line-height: 0.25rem;
}
.f_right span img{
    width: 0.11rem;
    height: 0.08rem;
    margin-bottom: 0.01rem;
}
.f_right .sb{
    float: right;
    margin-top: 0.05rem;
}
.f_right .sb img{
    width: 0.18rem;
    height: 0.16rem;
    display: block;
}
.slide{
    width: 3.75rem;
    height: 5.6rem;
}
.item{
    width: 3.45rem;
    height: 2.89rem;
    padding: 0.15rem;
}
.exam-title{
    width: 3.45rem;
    height: 0.6rem;
}
.exam-title .fl{
    display: inline-block;
    width: 0.22rem;
    height: 0.22rem;
    background: #18b4ed;
    font-size: 0.16rem;
    line-height: 0.22rem;
    text-align: center;
    color: #fff;
}
.exam-title .title{
    font-size: 0.18rem;
    line-height: 0.22rem;
    color: #000;
}
.ans_item{
    width: 3.45rem;
    height: 1.88rem;
    margin: .4rem 0 .22rem;
}
.ans_item .a1{
    width: 3.45rem;
    height: 0.35rem;
    margin-top: 0.16rem;
}
.ans_item .a1:first-child{
    margin-top: 0;
}
.ans_item .a1 i{
    display: block;
    width: 0.3rem;
    height:0.3rem ;
    border-radius: 50%;
    border:1px solid #999;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.16rem;
    float: left;
    color: #999;
}
.ans_item .a1 span{
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.16rem;
    float: left;
    color: #666;
    margin-left: 0.1rem;
}
footer{
    width: 3.75rem;
    height:0.54rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.1);
}
footer .favor{
    width: 1.24rem;
    height: 0.54rem;
}
.favor .imgn{
    width: 1.24rem;
    height: 0.34rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgn img{
    width: 0.22rem;
    display: block;
    height: 0.22rem;
}
.favor i{
    display: block;
    font-size: 0.14rem;
    text-align: center;
    color: #666;
    line-height: 0.2rem;
}